body{
    overflow: hidden;
    background-color: blanchedalmond;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1{
    color: black;
    font-size: 3rem;
}

h2{
    color: yellowgreen;
    font-size: 2.5rem;
}

div{
    color: indigo;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{
    padding: 0;
    margin: 25;
    box-sizing: border-box;
}

.meuNome{
    position: fixed;
    left: 18rem;
    top: 1rem;
}

.informacoes{
    position: fixed;
    left: 1rem;
    padding: 0.5rem;
    bottom: 14rem;
}

.formacaoAcademica{
    position: fixed;
    left: 18rem;
    padding: 0.5rem;
    bottom: 22rem;
}

.formacaoTecnica{
    position: fixed;
    left: 53rem;
    padding: 0.5rem;
    bottom: 22rem;
}

.experienciaProfissional{
    position: fixed;
    left: 53rem;
    padding: 0.5rem;
    bottom: 5rem;
}

.habilidades{
    position: fixed;
    left: 30rem;
    padding: 0.5rem;
    bottom: 5rem;
}

.btn{
    position: relative;
    left: 3rem;
    padding: 1rem;
    margin: 1rem;
    top: 35rem;
    background-color: #1e90ff; 
    color: #fff; 
    border: none;
    font-weight: bold; 
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.fotominha{
    position: fixed;
    left: 1rem;
    top: 1rem;
}