body{
    overflow: hidden;
    background-color: seashell;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1{
    color: black;
    font-size: 2rem;
}

h2{
    color: royalblue;
    font-size: 1.6rem;
}

div{
    color: goldenrod;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

*{
    padding: 0;
    margin: 25;
    box-sizing: border-box;
}

.meuNome{
    position: fixed;
    left: 25rem;
    bottom: 41rem;
}

.informacoes{
    position: fixed;
    left: 25rem;
    padding: 0.5rem;
    bottom: 32rem;
}

.formacaoAcademica{
    position: fixed;
    left: 25rem;
    padding: 0.5rem;
    bottom: 24rem;
}

.formacaoTecnica{
    position: fixed;
    left: 25rem;
    padding: 0.5rem;
    bottom: 16rem;
}

.experienciaProfissional{
    position: fixed;
    left:25rem;
    padding: 0.5rem;
    bottom: 5rem;
}

.habilidades{
    position: fixed;
    left: 60rem;
    padding: 0.5rem;
    bottom: 24rem;
}

.btn{
    position: relative;
    left: 3rem;
    padding: 1rem;
    margin: 1rem;
    top: 1rem;
    background-color: #1e90ff; 
    color: #fff; 
    border: none;
    font-weight: bold; 
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}